<?xml version="1.0" ?>
<!--
/**
 * This file is part of the Magebit_UniversalCommerce package.
 *
 * @copyright Copyright (c) 2026 Magebit, Ltd. (https://magebit.com/)
 * @author    Magebit <info@magebit.com>
 * @license   MIT
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\App\RouterList">
        <arguments>
            <argument name="routerList" xsi:type="array">
                <item name="universal_commerce" xsi:type="array">
                    <item name="class" xsi:type="string">Magebit\UniversalCommerce\Controller\Router</item>
                    <item name="disabled" xsi:type="boolean">false</item>
                    <item name="sortOrder" xsi:type="string">50</item>
                </item>
            </argument>
        </arguments>
    </type>

    <virtualType name="Magebit\UniversalCommerce\Controller\RouteProvider" type="Magebit\AgenticCore\Controller\StaticRouteProvider">
        <arguments>
            <argument name="routes" xsi:type="array">
                <item name="discovery" xsi:type="array">
                    <item name="path" xsi:type="string">.well-known/ucp</item>
                    <item name="method" xsi:type="string">GET</item>
                    <item name="controller" xsi:type="string">discovery</item>
                    <item name="action" xsi:type="string">index</item>
                </item>
                <item name="shopping.create.session" xsi:type="array">
                    <item name="path" xsi:type="string">ucp/shopping/checkout-sessions</item>
                    <item name="method" xsi:type="string">POST</item>
                    <item name="controller" xsi:type="string">service</item>
                    <item name="action" xsi:type="string">shopping_create</item>
                </item>
                <item name="shopping.get.session" xsi:type="array">
                    <item name="path" xsi:type="string">ucp/shopping/checkout-sessions/{checkout_id}</item>
                    <item name="method" xsi:type="string">GET</item>
                    <item name="controller" xsi:type="string">service</item>
                    <item name="action" xsi:type="string">shopping_get</item>
                </item>
                <item name="shopping.cancel.session" xsi:type="array">
                    <item name="path" xsi:type="string">ucp/shopping/checkout-sessions/{checkout_id}/cancel</item>
                    <item name="method" xsi:type="string">POST</item>
                    <item name="controller" xsi:type="string">service</item>
                    <item name="action" xsi:type="string">shopping_cancel</item>
                </item>
                <item name="shopping.update.session" xsi:type="array">
                    <item name="path" xsi:type="string">ucp/shopping/checkout-sessions/{checkout_id}</item>
                    <item name="method" xsi:type="string">PUT</item>
                    <item name="controller" xsi:type="string">service</item>
                    <item name="action" xsi:type="string">shopping_update</item>
                </item>
                <item name="shopping.complete.session" xsi:type="array">
                    <item name="path" xsi:type="string">ucp/shopping/checkout-sessions/{checkout_id}/complete</item>
                    <item name="method" xsi:type="string">POST</item>
                    <item name="controller" xsi:type="string">service</item>
                    <item name="action" xsi:type="string">shopping_complete</item>
                </item>
                <item name="shopping.create.cart" xsi:type="array">
                    <item name="path" xsi:type="string">ucp/shopping/carts</item>
                    <item name="method" xsi:type="string">POST</item>
                    <item name="controller" xsi:type="string">service</item>
                    <item name="action" xsi:type="string">shopping_cart_create</item>
                </item>
                <item name="shopping.get.cart" xsi:type="array">
                    <item name="path" xsi:type="string">ucp/shopping/carts/{cart_id}</item>
                    <item name="method" xsi:type="string">GET</item>
                    <item name="controller" xsi:type="string">service</item>
                    <item name="action" xsi:type="string">shopping_cart_get</item>
                </item>
                <item name="shopping.update.cart" xsi:type="array">
                    <item name="path" xsi:type="string">ucp/shopping/carts/{cart_id}</item>
                    <item name="method" xsi:type="string">PUT</item>
                    <item name="controller" xsi:type="string">service</item>
                    <item name="action" xsi:type="string">shopping_cart_update</item>
                </item>
                <item name="shopping.cancel.cart" xsi:type="array">
                    <item name="path" xsi:type="string">ucp/shopping/carts/{cart_id}/cancel</item>
                    <item name="method" xsi:type="string">POST</item>
                    <item name="controller" xsi:type="string">service</item>
                    <item name="action" xsi:type="string">shopping_cart_cancel</item>
                </item>
                <item name="shopping.catalog.search" xsi:type="array">
                    <item name="path" xsi:type="string">ucp/shopping/catalog/search</item>
                    <item name="method" xsi:type="string">POST</item>
                    <item name="controller" xsi:type="string">service</item>
                    <item name="action" xsi:type="string">shopping_catalog_search</item>
                </item>
                <item name="shopping.catalog.lookup" xsi:type="array">
                    <item name="path" xsi:type="string">ucp/shopping/catalog/lookup</item>
                    <item name="method" xsi:type="string">POST</item>
                    <item name="controller" xsi:type="string">service</item>
                    <item name="action" xsi:type="string">shopping_catalog_lookup</item>
                </item>
                <item name="shopping.catalog.product" xsi:type="array">
                    <item name="path" xsi:type="string">ucp/shopping/catalog/product</item>
                    <item name="method" xsi:type="string">POST</item>
                    <item name="controller" xsi:type="string">service</item>
                    <item name="action" xsi:type="string">shopping_catalog_product</item>
                </item>
                <item name="shopping.get.order" xsi:type="array">
                    <item name="path" xsi:type="string">ucp/shopping/orders/{order_id}</item>
                    <item name="method" xsi:type="string">GET</item>
                    <item name="controller" xsi:type="string">service</item>
                    <item name="action" xsi:type="string">shopping_getorder</item>
                </item>
            </argument>
        </arguments>
    </virtualType>

    <virtualType name="Magebit\UniversalCommerce\Controller\Router" type="Magebit\AgenticCore\Controller\PatternRouter">
        <arguments>
            <argument name="routeProvider" xsi:type="object">Magebit\UniversalCommerce\Controller\RouteProvider</argument>
            <argument name="moduleName" xsi:type="string">ucp</argument>
        </arguments>
    </virtualType>
</config>
